<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyCalandar"
        tools:targetApi="31">
        <activity
            android:name=".document.LoginDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".document.CreateDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".document.DocumentsListViewActivity"
            android:exported="false" />
        <activity
            android:name=".travel.TravelViewActivity"
            android:exported="false" />
        <activity
            android:name=".travel.TravelsListViewActivity"
            android:exported="false" />
        <activity
            android:name=".travel.CreateTravelActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ViewMenuActivity"
            android:exported="false" />
        <activity
            android:name=".menu.CreateMenuActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MenuViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainboardAssociationActivity"
            android:exported="false" />
        <activity
            android:name=".MainboardParentsActivity"
            android:exported="false" />
        <activity
            android:name=".MainboardEtudiantActivity"
            android:exported="false" />
        <activity
            android:name=".MainboardUserGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainboardVoyageurActivity"
            android:exported="false" />
        <activity
            android:name=".courses.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".task.TasksListActivity"
            android:exported="false" />
        <activity
            android:name=".task.TaskDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".task.CreateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".toDoList.ToDoListActivity"
            android:exported="false" />
    </application>

</manifest>